.btn-reload {
    width: 200px;
}

.btn-modify {
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.container-reload {
    text-align: center;
}

.container-modify {
    text-align: center;
}

.container-table {
    display: block;
    margin: 0 auto;
}

.container-download {
    text-align: center;
}

.text-center {
    text-align: center;
}

table {
    white-space: nowrap;
    margin: 0;
    table-layout: fixed;
}

table td,
table th {
    padding: 0.5rem 1rem;
    width: fit-content;
    min-width: 200px;
}

table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background: white;
    border-bottom: 2px solid black;
}

table td {
    background: white;
    padding: 4px 5px;
}

table tbody th {
    position: relative;
}

table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}

table tbody tr:hover td {
    background: lightgray;
}

table tbody tr:hover th {
    background: lightgray;
}

div.table-container {
    width: 100%;
    max-height: 90vh;
    overflow: auto;
}
