.btn-reload {
    width: 200px;
}

.container-reload {
    text-align: center;
}

.text-center {
    text-align: center;
}

.btn-submit {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}
