/*https://css-tricks.com/a-table-with-both-a-sticky-header-and-a-sticky-first-column/ */

table {
    white-space: nowrap;
    margin: 0;
    table-layout: fixed;
}

table td,
table th {
    padding: 0.5rem 1rem;
}

table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background: white;
}

table td {
    background: white;
    padding: 4px 5px;
}

table tbody th {
    position: relative;
}

table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}

div.table-container {
    width: 100%;
    overflow: auto;
}
