.btn-reload {
    width: 200px;
}

.btn-modify {
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.container-reload {
    text-align: center;
}

.container-modify {
    text-align: center;
}

.container-table {
    display: block;
    margin: 0 auto;
}

.container-download {
    text-align: center;
}

.text-center {
    text-align: center;
}

.table-scrollable {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}
