.btn-reload {
    width: 200px;
}

.container-reload {
    text-align: center;
}

.container-table {
    display: block;
    margin: 0 auto;
}

.container-download {
    width: 100%;
    text-align: center;
}

.text-center {
    text-align: center;
}

.btn-download {
    width: fit-content;
}
