@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

.pagcontainer {
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap; /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    padding-bottom: 10px;
}
.pagcontainer > div {
    width: fit-content;
}

.pagbutton {
    width: 40px;
}

.pagbutton-labeled {
    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
}

.sort-always {
    margin-bottom: 5px;
}

.sort-active {
    color: gray;
}

.sort-inactive {
    cursor: pointer;
}

.container-sort {
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: 75px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1abc9c;
    font-family: "Playfair Display", serif;
}

.container-reload {
    text-align: center;
}

.btn-reload {
    width: 200px;
}
