@media only screen and (max-width: 800px) {
    .btn-hide-if-small {
        display: none;
    }
}

.btn-named {
    width: 100px;
}

.btn-num {
    width: 50px;
}

.btn-selected {
    background-color: rgb(108, 117, 125);
    color: white;
}

.btn-hide {
    visibility: hidden;
    pointer-events: none;
}

.pag-container {
    display: inline-block;
}

.table-fixed {
    width: 100%;
    white-space: nowrap;
}

.td-left {
    width: fit-content;
}
.td-center {
    text-align: center;
    width: 100%;
}
.td-right {
    text-align: right;
    width: fit-content;
}
